<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
<th:block layout:fragment="layout.frame">
    <form method="POST">
        <input type="hidden" name="flag" th:value="${flag.flag}">
        <!--flag-->
        <input type="hidden" name="ID" th:value="${idChk.ID}">
        <!--layout call-->
        <div class="place row justify-content-center">
            <!--top menu bar-->
            <div class="mr-5 ml-5">
                <h2 class="text-light">질문</h2>
            </div>
            <div class="mr-5 ml-5">
                <h2 class="text-light">팁과 노하우</h2>
            </div>
            <div class="mr-5 ml-5">
                <h2 class="text-light">유기/실종/분양</h2>
            </div>
        </div>

        <div class="mt-1">
            <!--middle-->
            <div class="row bg-light">
                <div class="ml-5 m-1">
                    <p class="text-danger">[공지]</p>
                    <p>운영자</p>
                </div>
                <div class="m-1 ml-5 col-10">
                    <p>건전한 댓글 문화에 힘써주시기 바랍니다</p>
                    <div class="row justify-content-around">
                        <p>조회수 : 201218</p>
                        <p>2016.06.13</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-1">
            <!--middle-->
            <div class="row bg-light">
                <div class="ml-5 m-1">
                    <p class="text-danger">[Best]</p>
                    <p>함필규</p>
                </div>
                <div class="m-1 ml-5 col-10">
                    <p>강아지 배변 훈련 쉽게 배워보자!</p>
                    <div class="row justify-content-around">
                        <p>조회수 : 93152</p>
                        <p>2019.05.11</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-1">
            <!--middle-->
            <div class="row bg-light">
                <div class="ml-5 m-1">
                    <p class="text-danger">[Best]</p>
                    <p>강형욱</p>
                </div>
                <div class="m-1 ml-5 col-10">
                    <p>좋은 사료 고르는 꿀팁!</p>
                    <div class="row justify-content-around">
                        <p>조회수 : 51671</p>
                        <p>2019.05.13</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-1">
            <!--middle-->
            <div class="row bg-light">
                <div class="ml-5 m-1">
                    <p class="text-danger">[생활]</p>
                    <p>오박사</p>
                </div>
                <div class="m-1 ml-5 col-10">
                    <p>고양이는 절대 산책시키면 안됩니다</p>
                    <div class="row justify-content-around">
                        <p>조회수 : 218</p>
                        <p>2013.05.17</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-1">
            <!--middle-->
            <div class="row bg-light">
                <div class="ml-5 m-1">
                    <p class="text-danger">[건강]</p>
                    <p>YT포텐</p>
                </div>
                <div class="m-1 ml-5 col-10">
                    <p>안녕하세요 YT포텐입니다 오늘은 강아지 사료..</p>
                    <div class="row justify-content-around">
                        <p>조회수 : 1305</p>
                        <p>2019.05.17</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-1">
            <!--middle-->
            <div class="row bg-light">
                <div class="ml-5 m-1">
                    <p class="text-danger">[생활]</p>
                    <p>옴냥냥</p>
                </div>
                <div class="m-1 ml-5 col-10">
                    <p>강아지 나이 계산법을 알아보자!</p>
                    <div class="row justify-content-around">
                        <p>조회수 : 1425</p>
                        <p>2019.05.17</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-1">
            <!--middle-->
            <div class="row bg-light">
                <div class="ml-5 m-1">
                    <p class="text-danger">[생활]</p>
                    <p>허삐삐</p>
                </div>
                <div class="m-1 ml-5 col-10">
                    <p>강아지 집만들기 Vlog</p>
                    <div class="row justify-content-around">
                        <p>조회수 : 6254</p>
                        <p>2013.05.16</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>

</html>