<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.frame">
        <!--main-->
        <div>
            <div class="bg-light m-3">
                <div class="row justify-content-center text-center pt-3">
                    <span class="col-5">My PAGE</span>
                    <!--Title-->
                    <span class="fas fa-pencil-alt"></span>
                </div>
                <div class="row justify-content-around">
                    <div class="row">
                        <div>
                            <!--pet image-->
                            <img src="../image/test.png" class="ml-3" style="
                                width: 100px; height: 200px;
                            ">
                        </div>
                        <!--Pet image-->
                        <div class="ml-5 mt-5">
                            <!--imformation-->
                            <table>
                                <tr>
                                    <td>닉네임 : </td>
                                    <!--nickname-->
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>등급 : </td>
                                    <td></td>
                                    <!--ranking-->
                                </tr>
                                <tr>
                                    <td>마일리지</td>
                                    <!--Mileage-->
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="ml-5">
                        <!--sub image-->
                        <img src="../image/test.png" style="
                            width: 100px; height: 200px;">
                    </div>
                </div>
            </div>
            <!--center profile-->
            <div class="row bg-light justify-content-around">
                <nav class="navbar col-3">
                    <button class="navbar-toggler" type="button">
                        <span class="fas fa-cog"></span><br>
                        <span>프로필관리</span>
                    </button>
                </nav>
                <nav class="navbar col-3">
                    <button class="navbar-toggler" type="button">
                        <span class="fas fa-list"></span><br>
                        <span>내글 보기</span>
                    </button>
                </nav>
                <nav class="navbar col-3">
                    <button class="navbar-toggler" type="button">
                        <span class="fas fa-users"></span><br>
                        <span>마일리지</span>
                    </button>
                </nav>
                <nav class="navbar col-3">
                    <button class="navbar-toggler" type="button">
                        <span class="fas fa-shopping-cart"></span><br>
                        <span>주문조회</span>
                    </button>
                </nav>
            </div>
            <!--calendar-->
            <div class="bg-light mt-4 mb-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>일정</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>일정이 없습니다.</td>
                        <!--cal1-->
                    </tr>
                    <tr>
                        <td>일정이 없습니다.</td>
                        <!--cal1-->
                    </tr>
                    <tr>
                        <td>일정이 없습니다.</td>
                        <!--cal1-->
                    </tr>
                </table>
            </div>
        </div>
        <!--main-->
    </th:block>
</html>