<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!-- BootStrap script-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- BootStrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--icon-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <!--title-->
        <title>JIP</title>
        <style>
            body{
                background-color: #e0cdaf;
            }
            .login{
                background-color: #412e34;
            }
            .naver{
                background-color: #1dc400;
            }
            .kakao{
                background-color: #ffdd00;
                text-decoration-color: #412e34;
            }
            .Logo{
                width: 100px;
            }
            .footer{
                width: 50px;
            }
            .place{
                background-color: #77543e;
            }
        </style>
    </head>

    <body>
        <!--TOP navbar START-->
        <!--Left Menu-->
        <div class="row bg-light justify-content-around">
            <nav class="navbar navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#test" aria-controls="test">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="test">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                </div>
            </nav>
            <!--title-->
            <form method="POST" th:action="@{/index}">
                <a class="content-center" href="../index.html" th:href=@{/index}>
                    <img src="../../static/image/Logo.png" class="Logo" th:src="@{/image/Logo.png}">
                    <input type="hidden" name="flag" th:value="${flag.flag}"><!--flag-->
                    <input type="hidden" name="ID" th:value="${idChk.ID}">
                </a>
            </form>
            <!--Right Menu-->
            <form method="POST">
            <nav class="navbar navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#login" aria-controls="login">
                    <span class="far fa-user"></span>
                </button>
                <input type="hidden" name="flag" th:value="${flag.flag}"><!--flag-->
                <div class="collapse navbar-collapse" id="login">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <form method="POST">
                                <a th:utext="${resultMap.SignIn}"></a>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="POST">
                                <a th:utext="${resultMap.SignUp}"></a>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="POST">
                                <a th:utext="${resultMap.SignOut}"></a>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </form>
        </div>
        <!--TOP navbar END-->

        <!--layout call-->
        <th:block layout:fragment="layout.frame"></th:block>

        <!--FOOTER MENU START-->
        <footer>
            <nav class="row navbar fixed-bottom justify-content-around bg-light">
                <form method="POST" th:action="@{/index}"><!--home-->
                    <a class="navbar-toggler" href="../index.html" th:href="@{/index}">
                        <img src="../../static/image/home.jpg" class="footer" th:src="@{/image/home.jpg}">
                        <input type="hidden" name="flag" th:value="${flag.flag}"><!--flag-->
                        <input type="hidden" name="ID" th:value="${idChk.ID}">
                    </a>
                </form>
                <form method="POST" th:action="@{/area/City}"><!--Order-->
                    <button type="submit" class="navbar-toggler">
                        <img src="../../static/image/Order.jpg" class="footer" th:src="@{/image/Order.jpg}">
                        <input type="hidden" name="flag" th:value="${flag.flag}"><!--flag-->
                        <input type="hidden" name="ID" th:value="${idChk.ID}">
                    </button>
                </form>
                <form method="POST" th:action="@{/comunity/comunity}"><!--Comunity-->
                    <button class="navbar-toggler" type="submit">
                        <img src="../../static/image/Comunity.jpg" class="footer" th:src="@{/image/Comunity.jpg}">
                        <input type="hidden" name="flag" th:value="${flag.flag}"><!--flag-->
                        <input type="hidden" name="ID" th:value="${idChk.ID}">
                    </button>
                </form>
            </nav>
        </footer>
        <!--FOOTER MENU END-->
    </body>
</html>