<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.frame">
        <form method="POST">
            <input type="hidden" name="flag" th:value="${flag.flag}"><!--flag-->
            <input type="hidden" name="ID" th:value="${idChk.ID}">
        </form>
        <!--City start-->
        <div class="mt-5">
            <div class="text-center">
                <form method="POST" th:action="@{/area/Office}">
                    <button type="submit" class="btn place col-4 text-light">
                        서울
                    </button>
                    <input type="hidden" name="flag" th:value="${flag.flag}"><!--flag-->
                    <input type="hidden" name="ID" th:value="${idChk.ID}">
                </form>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn col-4 place ml-3 mr-3 mt-3 text-light">
                    경기도
                </button>
                <button type="submit" class="btn col-4 place ml-3 mr-3 mt-3 text-light">
                    강원도
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn col-4 place ml-3 mr-3 mt-3 text-light">
                    충청북도
                </button>
                <button type="submit" class="btn col-4 place ml-3 mr-3 mt-3 text-light">
                    경상북도
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn col-4 place ml-3 mr-3 mt-3 text-light">
                    충청남도
                </button>
                <button type="submit" class="btn col-4 place ml-3 mr-3 mt-3 text-light">
                    경상남도
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn col-4 place m-3 text-light">
                    전라북도
                </button>
                <button type="submit" class="btn col-4 place m-3 text-light">
                    전라남도
                </button>
            </div>
        </div>
        <!--City end-->
    </th:block>
</html>