<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.frame">
        <!--City start-->
        <div class="mt-5">
            <div class="text-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    강남구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    강동구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    강북구
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    강서구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    관악구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    광진구
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    구로구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    금전구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    노원구
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    도봉구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    동대문구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    동작구
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    마포구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    서대문구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    서초구
                </button>
            </div>
            <div class="text-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    성동구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    성북구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    송파구
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    양천구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    영등포구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    용산구
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    은평구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    종로구
                </button>
                <button type="submit" class="btn place col-3 m-3 text-light">
                    중구
                </button>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn place col-3 m-3 text-light">
                    중랑구
                </button>
            </div>
        </div>
        <!--City end-->
    </th:block>
</html>